@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&family=Poppins:wght@300;400;500;700&display=swap');

@import url('./button.css');
@import url('./button-icon.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./wrapper.css');
@import url('./menu.css');
@import url('./coment.css');
@import url('./testimonials.css');
@import url('./projects.css');
@import url('./social.css');
@import url('./footer.css');
@import url('./form.css');
@import url('./title.css');

:root{
    --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    --fontBase: 'Poppins', sans-serif;
    --fontVariant: 'Oxygen', sans-serif;
    --headline1: bold 95px/153.71px var(--fontBase);
    --headline2: bold 59px/95px var(--fontBase);
    --headline3: bold 48px/77px var(--fontBase);
    --headline4: bold 34px/55px var(--fontBase);
    --headline5: bold 24px/38px var(--fontBase);
    --font-v1: normal 34px/55px var(--fontVariant);
    --font-v2: normal 16px/26px var(--fontVariant);
    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);
    --button: bold 14px/22px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    --purple: #310A90;
    --green: #42E2B8; 
    --white: #FFF; 
}
body{
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--purple);
    margin: 0px;
}


.h5{
    font: var(--headline5);
}

.h3{
    font: var(--headline3);
}