.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;

}
.testimonials .card-testimonial{
    padding: 24px;
    margin: 40px 16px 80px;    
    border: 3.98px solid transparent;    
    background: 
    linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) padding-box,
    radial-gradient(83.14% 78.52% at -12.32% -18.69%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%) border-box;
    backdrop-filter: blur(39.7657px);    
    border-radius: 24px;
}

.testimonials .card-testimonial .description{
    font: var(--font-v2);
    font-weight: bold;    
    letter-spacing: 0.005em;
    text-align: left;
}
.testimonials .card-testimonial .autor{
    font: var(--caption);
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 0.4px;
    margin: 24px 0px 0px 0px;   
    text-align: left;
}
/* .testimonials .card-testimonial .description.is-primary{
    font: var(--font-v2);
    font-weight: bold;
    
} */

@media screen and (min-width:768px){
    
    .testimonials .card-testimonial{    
        padding: 80px;
        margin: 80px 6em;
    }
    .testimonials .card-testimonial .description{
        font: var(--headline4); 
        font-weight: bold;       
        letter-spacing: 0;
        font-size: 2.125em;
        text-align: center;
    }
    .testimonials .card-testimonial .description.is-primary{
        font: var(--font-v1);
        font-weight: bold;        
    }
    .testimonials .card-testimonial .autor{
        font: var(--headline5);    
        letter-spacing: 0;
        margin: 24px 0px 0px 0px;   
        text-align: center;
    }
    
}